.red {
  color: red;
}

.image {
  position: relative;
  width: 1910px;
  height: 1020px;
  z-index: -1;
  opacity: 0.75;
  filter: brightness(90%);
}

.cover h1 {
  position: absolute;
  width: 1374px;
  height: 316px;
  left: 273px;
  top: 236px;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 169px;

  color: #ffffff;
}

.cover a {
  color: inherit;
  text-decoration: none;
}

.list {
  background: #ecf0f1;
  text-align: center;
}
